<div class="container">
    <div id="page-content-wrapper">
        <h1>iFLUX Action Target Managment </h1>
        <div class="col-lg-12">
            Search an Action Target Template: <input ng-model="search">
            <table class="table table-condensed">
                <thead>
                <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
                <th><a href="" ng-click="predicate = 'key'; reverse=!reverse">Key</a></th>
                <th><a href="" ng-click="predicate = 'public'; reverse=!reverse">Public</a></th>
                <th><a href="" ng-click="predicate = 'organization'; reverse=!reverse">Organization</a></th>
                <th>Modification</th>
                <th>Create instance</th>
                <th>View instances</th>
                </thead>
                <tbody ng-repeat="actionTargetTemplate in actionTargetTemplates | orderBy:predicate:reverse | filter:{name:search}">
                <tr ng-class-odd="'rowOddClickable'" ng-class-even="'rowEvenClickable'" title="Click to toggle collapse/expand action target instances.">
                    <td>{{actionTargetTemplate.name}}</td>
                    <td>{{actionTargetTemplate.key }}</td>
                    <td><input type="checkbox" ng-model="actionTargetTemplate.public" ng-disabled="true"></td>
                    <td>{{actionTargetTemplate.organizationId}}</td>
                    <td><a class="btn btn-xs btn-primary" ng-href="#/actionTargetTemplateEditor/{{actionTargetTemplate.id}}">Modifiy</a></td>
                    <td><a class="btn btn-xs btn-primary" ng-click="createInstance(actionTargetTemplate.id)">Add </a></td>
                    <td><a class="btn btn-xs btn-primary" ng-click="selectTableRow($index)">View</a></td>
                </tr>
                <tr ng-show="$index === showIndex">
                    <td></td>
                    <td colspan="4">
                        <div>
                            <table class="table table-condensed table-intern">
                                <thead>
                                <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
                                <th><a href="" ng-click="predicate = 'id'; reverse=!reverse">Id</a></th>
                                <th>Modification</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="actionTargetInstance in actionTargetInstances | orderBy:predicate:reverse | filter:{actionTargetTemplateId : actionTargetTemplate.id}">
                                    <td>{{actionTargetInstance.name}}
                                    </td>
                                    <td>{{actionTargetInstance.id}}</td>
                                    <td><a class="btn btn-xs btn-danger" ng-click="modifyInstance(actionTargetInstance.id, actionTargetTemplate.id)">Modify</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" ng-href="#/actionTargetTemplateEditor">Create a new action target template</a>
        </div>


    </div>
</div>