<h1>Cockpit</h1>

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <a class="btn" ng-href="#/user" ng-disabled="true">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                </a>

                <h4 class="service-heading">User</h4>
            </div>
            <div class="col-md-4">
                <a class="btn" ng-href="#/organization" ng-disabled="true">
                <span class="fa-stack fa-4x">

                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>

                    </span>
                </a>
                <h4 class="service-heading">Organization</h4>
            </div>
            <div class="col-md-4">
                <a class="btn" ng-href="#/rules">
                <span class="fa-stack fa-4x">

                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-connectdevelop fa-stack-1x fa-inverse"></i>

                    </span>
                </a>
                <h4 class="service-heading">Rules</h4>
            </div>
        </div>
    </div>
</section>