<div class="container">
    <div id="page-content-wrapper">

        <h1>iFLUX Event Source Managment </h1>

        <div class="col-lg-12">
            Search an Event Source Template: <input ng-model="search">
            <table class="table table-condensed">
                <thead>
                <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
                <th><a href="" ng-click="predicate = 'key'; reverse=!reverse">Key</a></th>
                <th><a href="" ng-click="predicate = 'public'; reverse=!reverse">Public</a></th>
                <th><a href="" ng-click="predicate = 'organization'; reverse=!reverse">Organization</a></th>
                <th>Modification</th>
                <th>Create instance</th>
                </thead>
                <tbody ng-repeat="eventSourceTemplate in eventSourceTemplates | orderBy:predicate:reverse | filter:{name:search}">
                <tr ng-class-odd="'rowOddClickable'" ng-class-even="'rowEvenClickable'" title="Click to toggle collapse/expand event source instances."
                    ng-click="selectTableRow($index, eventSourceTemplate.id)" href="#">
                    <td>{{eventSourceTemplate.name}}</td>
                    <td>{{eventSourceTemplate.key}}</td>
                    <td><input type="checkbox" ng-model="eventSourceTemplate.public" ng-disabled="true"></td>
                    <td>{{eventSourceTemplate.organizationId}}</td>
                    <td><a class="btn btn-xs btn-primary" ng-href="#/eventSourceTemplateEditor/{{eventSourceTemplate.id}}">Modifiy</a></td>
                    <td><a class="btn btn-xs btn-primary" ng-href="#/eventSourceInstanceEditor">Add </a></td>
                </tr>
                <tr ng-show="$index === showIndex">
                    <td></td>
                    <td colspan="4">
                        <div>
                            <table class="table table-condensed table-intern">
                                <thead>
                                <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
                                <th><a href="" ng-click="predicate = 'id'; reverse=!reverse">Id</a></th>
                                <th>Modification</th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="eventSourceInstance in eventSourceInstances | orderBy:predicate:reverse | filter:{eventSourceTemplateId : eventSourceTemplate.id}">
                                    <td>{{eventSourceInstance.name}}
                                    </td>
                                    <td>{{eventSourceInstance.id}}</td>
                                    <td><a class="btn btn-xs btn-danger" ng-href="#/eventSourceInstanceEditor/{{eventSourceInstance.id}}">Modify</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" ng-href="#/eventSourceTemplateEditor">Create a new event source template</a>
        </div>


    </div>
</div>