<div class="container">
    <div id="page-content-wrapper">
        <h1>iFLUX Action Type Editor</h1>

        <div class="big-panel">
            <div name="atTemplateForm" id="atTemplateForm" novalidate>
                <div class="col-lg-12 form-horizontal">
                    <form name="actionTypeForm" novalidate>
                        <div class="col-lg-6">
                            <h3>General Info</h3>

                            <div class="form-group" show-errors>
                                <label for="NameType" class="col-sm-4 control-label">Name *</label>

                                <div class="col-sm-8"><input id="NameType" name="nameTemplate" type="text" class="form-control"
                                                             placeholder="Name of the Action Type"
                                                             ng-model="aType.name" required
                                                             data-validation-required-message="Please enter a name">

                                    <p class="help-block" ng-if="actionTypeForm.$invalid">A name is required</p>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="DescriptionType" class="col-sm-4 control-label">Description</label>

                                <div class="col-sm-8"><input id="DescriptionType" name="descriptionType" type="text" class="form-control"
                                                             placeholder="Description of the Action Type"
                                                             ng-model="aType.description">

                                </div>

                            </div>
                            <div class="form-group" show-errors>
                                <label for="organizationSelect" class="col-sm-4 control-label">Organization *</label>

                                <div class="col-sm-8">
                                    <ui-select id="organizationSelect" name="orgSelect0" ng-model="aType.organizationId" theme="bootstrap" required>
                                        <ui-select-match placeholder="Select an organization">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="organization.id as organization in organizations  | filter: { name: $select.search }" name="orgSelect2"
                                                           value="{{$select.selected.name}}">
                                            <div ng-bind-html="organization.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="templatePublic" class="col-sm-4 control-label">Make the action type public</label>

                                <div class="col-sm-8">
                                    <div>
                                        <input id="templatePublic" ng-model="aType.public" type="checkbox">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" show-errors>
                                <label for="typeUrl" class="col-sm-4 control-label">Url *</label>

                                <div class="col-sm-8"><input id="typeUrl" name="typeUrl" type="url" class="form-control"
                                                             placeholder="Url to define the action type"
                                                             ng-model="aType.type" required>

                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <h3>Schema</h3>

                            <div class="form-group" show-errors>
                                <div class="col-sm-10">
                                    <label for="configurationForm" class="control-label">Write a JSON Schema to create a configuration form *</label>

                                    <div>
                                        <div class="js-editor-medium">
                                            <div id="configurationForm" name="configurationForm" required ui-ace="{require: ['ace/ext/language_tools'],
                                        advanced: {
                                            enableSnippets: true,
                                            enableBasicAutocompletion: true,
                                            enableLiveAutocompletion: true
                                        },  useWrapMode : true,  showGutter: true,  theme:'monokai',  mode: 'json',onChange: schemaChanged}" ng-model="jsonSchema"></div>
                                        </div>


                                        <p class="help-block" ng-if="actionTypeForm.configurationForm.$invalid">A JSON Schema is required</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-12">
                    <div class="buttonbar">
                        <input class="btn btn-primary" type="button" ng-click="cancel()" value="Cancel">
                        <input class="btn btn-success" type="submit" ng-click="submitForm()" value="{{buttonName}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>