.container
    #page-content-wrapper
        h1 iFLUX Action Target Instance Editor
        .big-panel
            .col-lg-12.form-horizontal
                .col-lg-6
                    form(name="actionTargetInstanceForm")
                        h3 General Info
                        .form-group(show-errors="")
                            label.col-sm-4.control-label(for="NameTemplate") Name *
                            .col-sm-8
                                input#NameTemplate.form-control(type="text", name="nameTemplate", placeholder="Name of the template", ng-model="atInstance.name", required="")
                        .form-group
                            label.col-sm-4.control-label(for="description") Description
                            .col-sm-8
                                input#description.form-control(type="text", name="description", placeholder="Human readable description", ng-model="atInstance.description")
                        .form-group
                            label.col-sm-4.control-label(for="organizationSelect") Organization
                            .col-sm-8
                                ui-select#organizationSelect(ng-model="atInstance.organizationId", theme="bootstrap")
                                    ui-select-match(placeholder="Select an organization") {{$select.selected.name}}
                                    ui-select-choices(repeat="organization.id as organization in organizations  | filter: { name: $select.search }", name="orgSelect2", value="{{$select.selected.name}}")
                                        div(ng-bind-html="organization.name | highlight: $select.search")
                                p.help-block.text-danger
                .col-lg-6
                    h3 Schema
                    .form-group
                        .col-sm-12
                            label.control-label Complete the form below to configure the Action Target Instance
                            hr
                        .panel-body
                            .col-sm-12
                                div
                                    form(sf-schema="schema", sf-form="form", sf-model="atInstance.configuration")
        .col-lg-12
            .alert.alert-danger.fade.in(ng-hide="!errorMessages")
                div(ng-repeat="errorMessage in errorMessages")
                    a.close(href="#", data-dismiss="alert") &#215;
                    strong Error!
                    | {{errorMessage}}
            .buttonbar
                a.btn.btn-primary(ng-click="cancel()") Cancel
                a.btn.btn-success(ng-click="submitForm()", ng-disabled="actionTargetInstanceForm.$invalid") {{buttonName}}
