//
   Created by vincent on 7/23/15.

h1 Cockpit
section
    .container
        .row.text-center
            .col-md-4
                a.btn(ng-href="#{contextRoot}/settings")
                    span.fa-stack.fa-4x.text-primary
                        i.fa.fa-square.fa-stack-2x
                        i.fa.fa-cogs.fa-stack-1x.fa-inverse
                h4.service-heading Settings
            .col-md-4
                a.btn(ng-href="#{contextRoot}/rules")
                    span.fa-stack.fa-4x.text-primary
                        i.fa.fa-square.fa-stack-2x
                        i.fa.fa-connectdevelop.fa-stack-1x.fa-inverse
                h4.service-heading Rules
            .col-md-4
                a.btn(ng-href="#{contextRoot}/eventSource")
                    span.fa-stack.fa-4x.text-primary
                        i.fa.fa-square.fa-stack-2x
                        i.fa.fa-bell.fa-stack-1x.fa-inverse
                h4.service-heading Event Source Templates
        br
        .row.text-center
            .col-md-4
                a.btn(ng-href="#{contextRoot}/actionTarget")
                    span.fa-stack.fa-4x.text-primary
                        i.fa.fa-square.fa-stack-2x
                        i.fa.fa-bullseye.fa-stack-1x.fa-inverse
                h4.service-heading Action Target Templates
