<div class="container">
    <div id="page-content-wrapper">
        <h1>iFLUX Event Type Editor</h1>

        <div class="big-panel">
            <div name="atTemplateForm" id="atTemplateForm" novalidate>
                <div class="col-lg-12 form-horizontal">
                    <div class="col-lg-6">
                        <h3>General Info</h3>

                        <div class="form-group">
                            <label for="NameType" class="col-sm-4 control-label">Name *</label>

                            <div class="col-sm-8"><input id="NameType" name="nameTemplate" type="text" class="form-control"
                                                         placeholder="Name of the Event Type"
                                                         ng-model="eType.name" required
                                                         data-validation-required-message="Please enter a name">

                                <p class="help-block text-danger"></p>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="DescriptionType" class="col-sm-4 control-label">Description *</label>

                            <div class="col-sm-8"><input id="DescriptionType" name="descriptionType" type="text" class="form-control"
                                                         placeholder="Description of the Event Type"
                                                         ng-model="eType.description">

                            </div>

                        </div>
                        <div class="form-group">
                            <label for="organizationSelect" class="col-sm-4 control-label">Organization </label>

                            <div class="col-sm-8">
                                <ui-select id="organizationSelect" name="orgSelect0" ng-model="eType.organizationId" theme="bootstrap">
                                    <ui-select-match placeholder="Select an organization">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="organization.id as organization in organizations  | filter: { name: $select.search }" name="orgSelect2"
                                                       value="{{$select.selected.name}}">
                                        <div ng-bind-html="organization.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="templatePublic" class="col-sm-4 control-label">Make the event type public</label>

                            <div class="col-sm-8">
                                <div>
                                    <input id="templatePublic" ng-model="eType.public" type="checkbox">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="typeUrl" class="col-sm-4 control-label">Url </label>

                            <div class="col-sm-8"><input id="typeUrl" name="typeUrl" type="url" class="form-control"
                                                         placeholder="Url to define the event type"
                                                         ng-model="eType.type" required
                                                         data-validation-required-message="Please enter a valid type URL">

                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h3>Schema</h3>

                        <div class="form-group">
                            <div class="col-sm-10">
                                <label class="control-label">Write a JSON Schema to create a configuration form</label>

                                <div>
                                    <div class="js-editor-medium">
                                        <div ui-ace="{require: ['ace/ext/language_tools'],
                                        advanced: {
                                            enableSnippets: true,
                                            enableBasicAutocompletion: true,
                                            enableLiveAutocompletion: true
                                        },  useWrapMode : true,  showGutter: true,  theme:'monokai',  mode: 'json',onChange: schemaChanged}" ng-model="jsonSchema"></div>
                                    </div>


                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="buttonbar">
                        <input class="btn btn-primary" type="button" ng-click="cancel()" value="Cancel">
                        <input class="btn btn-success" type="submit" ng-click="submitForm()" value="{{buttonName}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>