<div class="container">
    <div id="page-content-wrapper">
        <h1>iFLUX Event Source Template Editor</h1>

        <div class="big-panel">
            <div class="col-lg-12 form-horizontal">
                <form name="eventSourceTemplateForm">
                    <div class="col-lg-6">
                        <h3>General Info</h3>

                        <div class="form-group" show-errors>
                            <label for="NameTemplate" class="col-sm-4 control-label">Name *</label>

                            <div class="col-sm-8"><input id="NameTemplate" name="nameTemplate" type="text" class="form-control"
                                                         placeholder="Name of the template"
                                                         ng-model="esTemplate.name" required>

                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <label for="organizationSelect" class="col-sm-4 control-label">Organization *</label>

                            <div class="col-sm-8">
                                <ui-select id="organizationSelect" required name="orgSelect0" ng-model="esTemplate.organizationId" theme="bootstrap">
                                    <ui-select-match placeholder="Select an organization">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="organization.id as organization in organizations  | filter: { name: $select.search }"
                                                       value="{{$select.selected.name}}">
                                        <div ng-bind-html="organization.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="templatePublic" class="col-sm-4 control-label">Make the template public</label>

                            <div class="col-sm-8">
                                <div>
                                    <input id="templatePublic" ng-model="esTemplate.public" type="checkbox">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <h3>Schema</h3>

                        <div class="form-group" show-errors>
                            <div class="col-sm-10">
                                <label class="control-label">Write a JSON Schema to create a configuration form *</label>

                                <div>
                                    <div class="js-editor-medium">
                                        <div name="jsonSchemaConfiguration" required ui-ace="{require: ['ace/ext/language_tools'],
                                        advanced: {
                                            enableSnippets: true,
                                            enableBasicAutocompletion: true,
                                            enableLiveAutocompletion: true
                                        },  useWrapMode : true,  showGutter: true,  theme:'monokai',  mode: 'json',onChange: eventSchemaChanged}" ng-model="jsonSchema"></div>
                                    </div>


                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>


                        <div class="form-group" show-errors>
                            <label for="configurationUrl" class="col-sm-4 control-label">Configuration URL *</label>

                            <div class="col-sm-8"><input id="configurationUrl" name="ConfigUrl" type="url" class="form-control"
                                                         placeholder="Configuration URL "
                                                         ng-model="esTemplate.configuration.url" required>

                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="configurationToken" class="col-sm-4 control-label">Token </label>

                            <div class="col-sm-8"><input id="configurationToken" name="ConfigToken" type="text" class="form-control"
                                                         placeholder="JWT Token"
                                                         ng-model="esTemplate.configuration.token">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-12 form-horizontal">
                <div class="col-lg-6">
                    <h3>Configuration UI</h3>

                    <div class="form-group">
                        <div class="col-sm-10">
                            <label class=" control-label">Schema Form</label>

                            <div class="js-editor-medium">
                                <div ui-ace="{require: ['ace/ext/language_tools'],
                                advanced: {
                                enableSnippets: true,
                                enableBasicAutocompletion: true,
                                enableLiveAutocompletion: true
                                },  useWrapMode : true,  showGutter: true,  theme:'monokai',  mode: 'json',onChange: eventFormChanged}" ng-model="jsonForm"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3>Live preview configuration</h3>

                    <div class="panel">
                        <div class="panel-red col-lg-10">
                            <div class="col-lg-10">
                                <form sf-schema="schema" sf-form="form" sf-model="eventSchema"></form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-12">
                <div class="alert alert-danger fade in" ng-hide="!errorMessages">
                    <div ng-repeat="errorMessage in errorMessages">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Error!</strong> {{errorMessage}}
                    </div>
                </div>
                <div class="buttonbar">
                    <a class="btn btn-primary" type="button" ng-click="cancel()">Cancel</a>
                    <a class="btn btn-success" type="submit" ng-click="submitForm()" ng-disabled="eventSourceTemplateForm.$invalid">{{buttonName}}</a>
                </div>
            </div>
        </div>
    </div>
</div>