<div class="container">
    <div id="page-content-wrapper">
        <h1>iFLUX Event Types Managment </h1>
        <div class="col-lg-12">
            Search an Avent Types : <input ng-model="search">
            <table class="table table-condensed">
                <thead>
                <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
                <th><a href="" ng-click="predicate = 'description'; reverse=!reverse">Description</a></th>
                <th><a href="" ng-click="predicate = 'public'; reverse=!reverse">Public</a></th>
                <th><a href="" ng-click="predicate = 'organization'; reverse=!reverse">Organization</a></th>
                <th>Modification</th>
                </thead>
                <tbody ng-repeat="eventType in eventTypes | orderBy:predicate:reverse | filter:{name:search, description:search}">
                <tr ng-class-odd="'rowOddClickable'" ng-class-even="'rowEvenClickable'" >
                    <td>{{eventType.name}}</td>
                    <td>{{eventType.description }}</td>
                    <td><input type="checkbox" ng-model="eventType.public" ng-disabled="true"></td>
                    <td>{{eventType.organizationId}}</td>
                    <td><a class="btn btn-xs btn-primary" ng-href="#/eventTypeEditor/{{eventType.id}}">Modifiy</a></td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" ng-href="#/eventTypeEditor">Create a new event type</a>
        </div>


    </div>
</div>