//
   Created by vincent on 7/23/15.

.container
    #page-content-wrapper
        h1 iFLUX Event Source Template Editor
        .big-panel
            .col-lg-12.form-horizontal
                form(name="eventSourceTemplateForm")
                    .col-lg-6
                        h3 General Info
                        .form-group(show-errors="")
                            label.col-sm-4.control-label(for="NameTemplate") Name *
                            .col-sm-8
                                input#NameTemplate.form-control(type="text", name="nameTemplate", placeholder="Name of the template", ng-model="esTemplate.name", required="")
                                p.help-block.text-danger
                        .form-group
                            label.col-sm-4.control-label(for="templatePublic") Make the template public
                            .col-sm-8
                                div
                                    input#templatePublic(type="checkbox", ng-model="esTemplate.public")
                    .col-lg-6
                        h3 Schema
                        .form-group(show-errors="")
                            .col-sm-10
                                label.control-label Write a JSON Schema to create a configuration form *
                                div
                                    .js-editor-medium(resizable='')
                                        div(name="jsonSchemaConfiguration", required="", ui-ace="{require: ['ace/ext/language_tools'],\
                    advanced: {\
                    enableSnippets: true,\
                    enableBasicAutocompletion: true,\
                    enableLiveAutocompletion: true\
                    },  useWrapMode : true,  showGutter: true,  theme:'monokai',  mode: 'json',onChange: eventSchemaChanged}", ng-model="jsonSchema")
                                    p.help-block.text-danger
                        .form-group(show-errors="")
                            label.col-sm-4.control-label(for="configurationUrl") Configuration URL *
                            .col-sm-8
                                input#configurationUrl.form-control(type="url", name="ConfigUrl", placeholder="Configuration URL ", ng-model="esTemplate.configuration.url", required="")
                                p.help-block.text-danger
                        .form-group
                            label.col-sm-4.control-label(for="configurationToken") Token
                            .col-sm-8
                                input#configurationToken.form-control(type="text", name="ConfigToken", placeholder="JWT Token", ng-model="esTemplate.configuration.token")
            .col-lg-12.form-horizontal
                .col-lg-6
                    h3 Configuration UI
                    .form-group
                        .col-sm-10
                            label.control-label Schema Form
                            .js-editor-medium(resizable='')
                                div(ui-ace="{require: ['ace/ext/language_tools'],\
                advanced: {\
                enableSnippets: true,\
                enableBasicAutocompletion: true,\
                enableLiveAutocompletion: true\
                },  useWrapMode : true,  showGutter: true,  theme:'monokai',  mode: 'json',onChange: eventFormChanged}", ng-model="jsonForm")
                .col-lg-6
                    h3 Live preview configuration
                    .panel
                        .panel-red.col-lg-10
                            .col-lg-10
                                form(sf-schema="schema", sf-form="form", sf-model="eventSchema")
            .col-lg-12
                .alert.alert-danger.fade.in(ng-hide="!errorMessages")
                    div(ng-repeat="errorMessage in errorMessages")
                        a.close(href="#", data-dismiss="alert") &#215;
                        strong Error!
                        | {{errorMessage}}
                .buttonbar
                    a.btn.btn-primary(type="button", ng-click="cancel()") Cancel
                    a.btn.btn-success(type="submit", ng-click="submitForm()", ng-disabled="eventSourceTemplateForm.$invalid") {{buttonName}}
