//
   Created by vincent on 9/16/15.

.modal-header
    h3 Event Source Viewer

.modal-body
    .col-lg-12.form-horizontal
        form(name="eventSourceForm")
            .col-lg-6
                h4 General Info
                .form-group
                    label.col-sm-4.control-label(for="NameTemplate") Name *
                    .col-sm-8 {{eSource.name}}

                .form-group
                    label.col-sm-4.control-label(for="description") Description
                    .col-sm-8 {{eSource.description}}
                .form-group
                    label.col-sm-4.control-label Is public
                    .col-sm-8
                        div
                            input#templatePublic(type="checkbox", ng-model="eSource.public", ng-disabled="true")
        .col-lg-6
            h4 Schema
            .form-group
                .col-sm-12
                    label.control-label Configuration form *
                    hr
                .panel-body
                    .col-sm-12
                        div
                            form(sf-schema="schema", sf-form="form", sf-model="eSource.configuration", ng-disabled='true')

.modal-footer
    a.btn.btn-primary(ng-click="cancel()") Close


