//
   Created by vincent on 9/16/15.

//
   Created by vincent on 7/23/15.
.container
    #page-content-wrapper
        h3 Event Type Viewer
        .big-panel
            #atTemplateForm(name="atTemplateForm")
                .col-sm-12.form-horizontal
                    form(name="actionTypeForm")
                        .col-sm-6
                            h4 General Info
                            .form-group
                                label.col-sm-4.control-label Name *
                                .col-sm-8 {{eType.name}}

                            .form-group
                                label.col-sm-4.control-label Description
                                .col-sm-8 {{eType.description}}
                            .form-group
                                label.col-sm-4.control-label Is public
                                .col-sm-8
                                    div
                                        input#templatePublic(type="checkbox", ng-model="eType.public", ng-disabled="true")
                            .form-group
                                label.col-sm-4.control-label Type (url) *
                                .col-sm-8 {{eType.type}}

                        .col-sm-6
                            h4 Schema
                            .form-group
                                .col-sm-12
                                    label.control-label(for="configurationForm") JSON Schema to create a configuration form *
                                    div
                                        .js-editor-medium(resizable='')
                                            #configurationForm(name="configurationForm", required="", ui-ace="{require: ['ace/ext/language_tools'],\
                      advanced: {\
                      enableSnippets: true,\
                      enableBasicAutocompletion: true,\
                      enableLiveAutocompletion: true\
                      },  useWrapMode : true,  showGutter: true,  theme:'monokai',  mode: 'json'}", ng-model="jsonSchema")

                .col-sm-12
                    .buttonbar
                        input.btn.btn-primary(type="button", ng-click="cancel()", value="Close")
                    br
