<section>
    <div class="container">

        <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Register</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" ng-href="#/signin" >Sign In</a></div>
                </div>
                <div class="panel-body" >
                    <form id="signupform" class="form-horizontal" role="form"  ng-submit="register()">

                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>

                        <div class="form-group" show-errors>
                            <label class="col-md-3 control-label">First Name</label>
                            <div class="col-md-9">
                                <input required type="text" class="form-control" ng-model="credentials.firstName" name="firstname" placeholder="First name">
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <label class="col-md-3 control-label">Last Name</label>
                            <div class="col-md-9">
                                <input required type="text" class="form-control" ng-model="credentials.lastName" name="lastname" placeholder="Last name">
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <label class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input required type="email" class="form-control" ng-model="credentials.email" name="email" placeholder="Email Address">
                            </div>
                        </div>


                        <div class="form-group" show-errors>
                            <label  class="col-md-3 control-label">Password</label>
                            <div class="col-md-9">
                                <input required type="password" class="form-control" ng-model="credentials.password" name="password" placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group" show-errors>
                            <label  class="col-md-3 control-label">Password</label>
                            <div class="col-md-9">
                                <input required type="password" class="form-control" ng-model="credentials.passwordConfirmation" name="password" placeholder="Re-type your password">
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" value="Submit" id="submit"
                                        class="btn btn-primary">Sign up
                                </button>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
