<div class="container">
    <div id="page-content-wrapper">

        <h1>iFLUX Rule Managment </h1>

        <div class="col-lg-12">
            Search a rule: <input ng-model="search">
            <table class="table table-condensed">
                <thead>
                <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
                <th><a href="" ng-click="predicate = 'enabled'; reverse=!reverse">Enable</a></th>
                <th>Modification</th>
                <th>Delete</th>
                </thead>
                <tbody>
                <tr ng-repeat="rule in rules | orderBy:predicate:reverse | filter:search">
                    <td>{{rule.name}}</td>
                    <td><input type="checkbox" ng-model="rule.active" ng-disabled="true"></td>
                    <td><a class="btn btn-xs btn-primary" ng-href="#/ruleEditor/{{rule.id}}">Modification </a></td>
                    <td><a class="btn btn-xs btn-danger" ng-disabled="true" ng-click="delete(rule.id, $index)">Delete</a></td>

                </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" ng-href="#/ruleEditor">Create a new rule</a>
        </div>


    </div>
</div>