<div class="container">
    <div id="page-content-wrapper">
        <h1>iFLUX Rule Editor</h1>

        <div class="big-panel">
            <form name="ruleEditorForm">
                <div class="col-lg-12 form-horizontal">
                    <h3>General Info</h3>

                    <div class="form-group" show-errors>
                        <label for="descriptionRules" class="col-sm-2 control-label">Name *</label>

                        <div class="col-sm-10"><input id="descriptionRules" name="Description" type="text" class="form-control"
                                                      placeholder="Describe what the rule is supposed to do."
                                                      ng-model="payload.name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="activeRule" class="col-sm-2 control-label">Enable the rule</label>

                        <div class="col-sm-10">
                            <div>
                                <input ng-model="payload.active" id="activeRule" type="checkbox">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" show-errors>
                        <label for="organizationSelect" class="col-sm-2 control-label">Organization *</label>

                        <div class="col-sm-4">
                            <ui-select id="organizationSelect" required name="orgSelect0" ng-model="payload.organizationId" theme="bootstrap">
                                <ui-select-match placeholder="Select an organization">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="organization.id as organization in organizations  | filter: { name: $select.search }" name="orgSelect2"
                                                   value="{{$select.selected.name}}">
                                    <div ng-bind-html="organization.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                </div>


                <div class="col-lg-12 form-horizontal">
                    <h3>Conditions</h3>

                    <div ng-repeat="condition in payload.conditions">

                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-red">
                                    <div class="panel-heading">
                                        <div>
                                            <div class="col-sm-10"><input name="Description" type="text" class="form-control"
                                                                          placeholder="Describe what the rule is supposed to do."
                                                                          ng-model="condition.description">
                                            </div>
                                            <button type="button" class="btn btn-danger" ng-click="removeConditions($index)">Delete</button>

                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label for="eventSourceSelect" class="col-sm-4">Event Source </label>

                                        <div class="col-sm-8">
                                            <ui-select id="eventSourceSelect" name="orgSelect0" ng-model="condition.eventSourceId" theme="bootstrap">
                                                <ui-select-match placeholder="Select an event source">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="eventSource.id as eventSource in eventSources  | filter: { name: $select.search }" name="orgSelect2"
                                                                   value="{{$select.selected.name}}">
                                                    <div ng-bind-html="eventSource.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="eventTypeSelect" class="col-sm-4">Event Type </label>

                                        <div class="col-sm-8">
                                            <ui-select id="eventTypeSelect" name="orgSelect0" ng-model="condition.eventTypeId" theme="bootstrap">
                                                <ui-select-match placeholder="Select an event type">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="eventType.id as eventType in eventTypes  | filter: { name: $select.search }" name="orgSelect2"
                                                                   value="{{$select.selected.name}}">
                                                    <div ng-bind-html="eventType.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>

                                    <div class="form-group" show-errors>
                                        <label class="col-sm-4">JS expression</label>

                                        <div class="col-sm-8">
                                            <div class="js-editor-small">
                                                <div required name="conditionExpression" ui-ace="{require: ['ace/ext/language_tools'],
                                        advanced: {
                                            enableSnippets: true,
                                            enableBasicAutocompletion: true,
                                            enableLiveAutocompletion: true
                                        },  useWrapMode : true,  showGutter: true,  theme:'monokai',  mode: 'javascript',onChange: schemaChanged}"
                                                     ng-model="condition.fn.expression"></div>
                                            </div>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4">Write a JSON example</label>

                                        <div class="col-sm-8">
                                            <div class="js-editor-small">
                                                <div ui-ace="{require: ['ace/ext/language_tools'],
                                        advanced: {
                                            enableSnippets: true,
                                            enableBasicAutocompletion: true,
                                            enableLiveAutocompletion: true
                                        },  useWrapMode : true,  showGutter: true,  theme:'monokai',  mode: 'json',onChange: schemaChanged}"
                                                     ng-model="condition.fn.sampleEvent"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                        <button type="button" class="btn btn-success" ng-click="addConditions()">Add a condition</button>

                    </div>
                </div>

                <div class="col-lg-12 form-horizontal">
                    <h3>Transformations</h3>


                    <div ng-repeat="transformation in payload.transformations">

                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-green">
                                    <div class="panel-heading">
                                        <div>
                                            <div class="col-sm-10"><input name="Description" type="text" class="form-control"
                                                                          placeholder="Describe what the rule is supposed to do."
                                                                          ng-model="condition.description">
                                            </div>
                                            <button type="button" class="btn btn-danger" ng-click="removeTransformations($index)">Delete</button>
                                        </div>

                                    </div>

                                    <div class="form-group" show-errors>
                                        <label for="actionTargetsSelect" class="col-sm-4">Action Target *</label>

                                        <div class="col-sm-8">
                                            <ui-select id="actionTargetsSelect" requried name="orgSelect0" ng-model="transformation.actionTargetId" theme="bootstrap">
                                                <ui-select-match placeholder="Select an action target">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="actionTarget.id as actionTarget in actionTargets  | filter: { name: $select.search }" name="orgSelect2"
                                                                   value="{{$select.selected.name}}">
                                                    <div ng-bind-html="actionTarget.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="form-group" show-errors>
                                        <label for="actionTypeSelect" class="col-sm-4">Action Type *</label>

                                        <div class="col-sm-8">
                                            <ui-select id="actionTypeSelect" required name="orgSelect0" ng-model="transformation.actionTypeId" theme="bootstrap">
                                                <ui-select-match placeholder="Select an action type">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="actionType.id as actionType in actionTypes  | filter: { name: $select.search }" name="orgSelect2"
                                                                   value="{{$select.selected.name}}">
                                                    <div ng-bind-html="actionType.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="eventTypeTransSelect" class="col-sm-4">Event Type </label>

                                        <div class="col-sm-8">
                                            <ui-select id="eventTypeTransSelect" name="orgSelect0" ng-model="transformation.eventTypeId" theme="bootstrap">
                                                <ui-select-match placeholder="Select an event type">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="eventType.id as eventType in eventTypes  | filter: { name: $select.search }" name="orgSelect2"
                                                                   value="{{$select.selected.name}}">
                                                    <div ng-bind-html="eventType.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>

                                    <div class="form-group" show-errors>
                                        <label class="col-sm-4">JS expression *</label>

                                        <div class="col-sm-8">
                                            <div class="js-editor-small">
                                                <div required name="tansformationExpression" ui-ace="{require: ['ace/ext/language_tools'],
                                        advanced: {
                                            enableSnippets: true,
                                            enableBasicAutocompletion: true,
                                            enableLiveAutocompletion: true
                                        },  useWrapMode : true,  showGutter: true,  theme:'monokai',  mode: 'javascript',onChange: schemaChanged}"
                                                     ng-model="transformation.fn.expression"></div>
                                            </div>
                                            <p class="help-block text-danger"></p>
                                        </div>

                                    </div>
                                    <div class="form-group" show-errors>
                                        <label class="col-sm-4">Write a JSON example *</label>

                                        <div class="col-sm-8">
                                            <div class="js-editor-small">
                                                <div required name="tansformationSampleEvent" ui-ace="{require: ['ace/ext/language_tools'],
                                        advanced: {
                                            enableSnippets: true,
                                            enableBasicAutocompletion: true,
                                            enableLiveAutocompletion: true
                                        },  useWrapMode : true,  showGutter: true,  theme:'monokai',  mode: 'json',onChange: schemaChanged}"
                                                     ng-model="transformation.fn.sample.event"></div>
                                            </div>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="eventSourceFnSelect" class="col-sm-4">Event Source Template</label>

                                        <div class="col-sm-8">
                                            <ui-select id="eventSourceFnSelect" name="orgSelect0" ng-model="transformation.fn.sample.eventSourceTemplateId" theme="bootstrap">
                                                <ui-select-match placeholder="Select an event source template">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices
                                                        repeat="eventSourceTemplate.id as eventSourceTemplate in eventSourceTemplates  | filter: { name: $select.search }"
                                                        name="orgSelect2"
                                                        value="{{$select.selected.name}}">
                                                    <div ng-bind-html="eventSourceTemplate.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                        <button type="button" class="btn btn-success" ng-click="addTransformations()">Add a transformation</button>

                    </div>

                </div>
            </form>
            <div class="col-lg-12">
                <div class="buttonbar">
                    <input class="btn btn-primary" type="button" ng-click="cancel()" value="Cancel">
                    <a class="btn btn-success" ng-click="create()">{{buttonName}}</a>
                </div>
            </div>
        </div>
        {{payload}}
    </div>
</div>