<div class="container">
    <div id="page-content-wrapper">
        <h1>iFLUX Event Source Instance Editor</h1>

        <div class="big-panel">
            <div class="col-lg-12 form-horizontal">
                <div class="col-lg-6">
                    <h3>General Info</h3>

                    <div class="form-group">
                        <label for="NameTemplate" class="col-sm-4 control-label">email address </label>

                        <div class="col-sm-8"><input id="NameTemplate" name="nameTemplate" type="email" class="form-control"
                                                     placeholder="email address"
                                                     ng-model="form.email" required>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-lg-12">
            <div class="buttonbar">
                <a class="btn btn-primary" ng-click="cancel()">Cancel</a>
                <a class="btn btn-primary" ng-click="submitForm()">Add user</a>
            </div>
        </div>
    </div>
</div>